body{
    background-image: url("https://image.freepik.com/vector-gratis/fondo-gris-abstracto_1077-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-materias{
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.container-materias img{
    width: 200px;
    height: 100px;
}

.card-materias{
    display: inline-block;
    margin: 4px;
    background-color: white;
}