body{
    background-image: url("https://image.freepik.com/vector-gratis/fondo-gris-abstracto_1077-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-materias{
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.container-materias h5{
    font-weight: bold;
}

.container-materias img{
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

.card-materias{
    display: inline-block;
    margin: 4px;
    background-color: white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}